.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightseagreen;
}

.title {
  color: lightcyan;
  font-size: 40px;
}

.sub-title {
  color: lightcyan;
  font-size: 30px;
}

.btn {
  margin-top: 1rem;
}

.clue {
  font-size: 25px;
  font-weight: bold;
  color: aliceblue;
}

.try {
  font-size: 45px;
  font-weight: bold;
  color: aliceblue;
}
